.library_containier {
  background-color: rgb(212, 214, 86);
}

.header {
  margin-left: 100px;
  color: rgb(89, 0, 255);
  font-size: 75px;
  position: relative;
  top: 20px;
}
.sub_header {
  color: rgb(0, 0, 0);
  font-weight: 1;
  margin-left: 230px;
  position: relative;
  top: 15px;
  font-size: 22px;
}
.body {
  margin-top: 120px;
}
.shelves {
  margin-bottom: 25px;
}

.shlef_name {
  font-size: 30px;
  color: rgb(31, 29, 29);
  margin-left: 120px;
}
.shelf_line {
  width: 75vw;
  height: 1.5px;
  background-color: black;
  border: none;
  position: relative;
  left: 200px;
  margin-bottom: 25px;
  margin-top: 3px;
}
.books_per_shelf {
  display: flex;
}
.search_button {
  color: white;
  background-color: blueviolet;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px 25px 25px 25px;
  font-family: monospace;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-decoration: none;
}
.search_button:hover {
  background-color: rgb(115, 24, 199);
  width: 51px;
  height: 51px;
  font-size: 41px;
  cursor: pointer;
}
